{% extends "FOSUserBundle::layout.html.twig" %}
{% block menu %}
    {{ include('AppBundle::menu.html.twig') }}
{% endblock %}

{% block body %}
    <div  class="container" style="margin-top: 150px;">
        <table>
            <tr>
                <th>Утро</th>
                <th>Вечер</th>
            </tr>
            <tr>
                <td>
                    {{ form_start(form1) }}
                    {{ form_widget(form1) }}
                    {{ form_end(form1) }}
                </td>
                <td>
                    {{ form_start(form2) }}
                    {{ form_widget(form2) }}
                    {{ form_end(form2) }}
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="button" value="Сохранить" onclick="submitForms()" /></td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block javascripts  %}
    {{ parent() }}
    <script src="{{ asset('/bundles/app/js/jquery.datetimepicker.full.min.js') }}"></script>

    <script>
        $(function(){
            $.datetimepicker.setLocale('ru');
            $('form #form1name_date, form #form2name_date').datetimepicker(
                {
                    formatDate:'d.m.Y',
                    format:'d.m.Y H:i',
                    lang:'ru',
                }
            );


        });
        function submitForms(){
            $('form[name="form1name"]').submit();
            $('form[name="form2name"]').submit();
        }
    </script>

{% endblock %}