{% extends "FOSUserBundle::layout.html.twig" %}
{% block menu %}
    {{ include('AppBundle::menu.html.twig') }}
{% endblock %}

{% block body %}
    <div  class="container" style="margin-top: 150px;">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts  %}
    {{ parent() }}
    <script src="{{ asset('/bundles/app/js/jquery.datetimepicker.full.min.js') }}"></script>

    <script>
        $(function(){
            $.datetimepicker.setLocale('ru');
            $('form #measuring_date').datetimepicker(
                {
                    formatDate:'d.m.Y',
                    format:'d.m.Y H:i',
                    lang:'ru',
                }
            );
        });
    </script>

{% endblock %}