{% extends "FOSUserBundle::layout.html.twig" %}
            {% block menu %}
                {{ include('AppBundle::menu.html.twig') }}
            {% endblock %}

{% block body %}
<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#chart">График</a></li>
        <li class="tab col s3"><a class="active" href="#mtable">Таблица</a></li>
      </ul>
    </div>
    <div id="chart" class="col s12">
        <p>Вес</p>
		<div id="container" class="container well" data-highcharts-chart="0"></div>
        {#<div id="container" style="height: 400px; min-width: 600px"></div>#}
	</div>
    <div id="mtable" class="col s12">

        <p>Ввод показаний:</p>

            <div class="col s12 m6">
                <div class="card horizontal">
                    <div class="card-image">
                        <i class="large orange material-icons">wb_sunny</i>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            {{ form_start(form1) }}
                            {{ form_widget(form1) }}
                            {{ form_end(form1) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card horizontal">
                    <div class="card-image">
                        <i class="large black material-icons">cloud_circle</i>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            {{ form_start(form2) }}
                            {{ form_widget(form2) }}
                            {{ form_end(form2) }}
                        </div>
                    </div>
                </div>
            </div>


        <p>Фильтр показаний:</p>
        <form name="mySelectMeasure" method="POST" action="">
            <div class="row">
                <div class="input-field col s12 m6">
                    <select>
                        <option value="1" selected>Вес</option>
                        <option value="2" disabled>Пульс</option>
                        <option value="3" disabled>Давление</option>
                    </select>
                    <label>Показание:</label>
                </div>
                <div class="input-field col s6 m3">
                    <i class="material-icons prefix">date_range</i>
                    <input type="text" class="datepicker">
                    <label>Период с:</label>
                </div>
                <div class="input-field col s6 m3">
                    <i class="material-icons prefix">date_range</i>
                    <input type="text" class="datepicker">
                    <label>Период по:</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <button class="btn orange lighten-1 waves-effect waves-light" type="submit" name="action">
                        <i class="material-icons right">filter_list</i>Применить фильтр</button>
                </div>
            </div>
        </form>

        <p>Список показаний:</p>
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">view_column</i>Вес</div>
                <div class="collapsible-body">
                    <table class="highlight bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Дата и время</th>
                            <th><i class="small material-icons">wb_sunny</i></th>
                            <th><i class="small material-icons">cloud_circle</i></th>
                            <th>Стабильность</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for meas in measuring %}
                            <tr>
                                <td><i class="material-icons">edit</i></td>
                                <td>{{ meas.measure_date|date("d.m.Y H:i") }}</td>
                                <td>{{ meas.morning_value }}</td>
                                <td>{{ meas.evening_value }}</td>
                                <td><span class="new badge" data-badge-caption="стабильно">{{ meas.stability_value }}</span></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">favorite</i>Пульс</div>
                <div class="collapsible-body"><span>Ввод показания в разработке.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">show_chart</i>Давление</div>
                <div class="collapsible-body"><span>Ввод показания в разработке.</span></div>
            </li>
        </ul>

        <a class="btn-floating btn-large waves-effect waves-light orange darken-2 tooltipped modal-trigger"
           data-position="right"
           data-delay="50"
           data-tooltip="Отправить сообщениями лечащему врачу"
           href="#modal1">
                <i class="material-icons">message</i>
        </a>

        <!-- Modal -->
        <div id="modal1" class="modal bottom-sheet">
            <div class="modal-content">
                <h4>Переписка с врачом</h4>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">mode_edit</i>
                                <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                                <label for="icon_prefix2">Текст сообщения</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Отправить</a>
            </div>
        </div>
        <!-- //Modal -->

	</div>
  </div>
{% endblock %}

{% block javascripts  %}
    {{ parent() }}
    {#<script src="https://code.highcharts.com/highcharts.js"></script>#}
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="{{ asset('/bundles/app/js/jquery.datetimepicker.full.min.js') }}"></script>

    <script>
    $(document).ready(function() {

    $('.tooltipped').tooltip({delay: 50}); // тултип!
    $('#modal1').modal(); // модал!

    $("a[data-id]").on("click", function(){
        $('#stability_range_modal').modal();
        var id = $(this).data('id');
        $.post(Routing.generate('get_stability_range'),{data: id}, function(data) {
            console.log(data);
            $('#stability_range').text(data.stabilityRange.stability_range);
        });
    });

    function getStabilityRange(id) {

    }


    Highcharts.setOptions(
        {lang: {
            rangeSelectorZoom: "Просмотр",
            rangeSelectorFrom: "с",
            rangeSelectorTo: "по",
            contextButtonTitle: "Меню",
            decimalPoint: ".",
            downloadJPEG: "Сохранить как JPEG",
            downloadPDF: "Сохранить как PDF",
            downloadPNG: "Сохранить как PNG",
            downloadSVG: "Сохранить как  SVG",
            drillUpText: "Назад к {series.name}",
            invalidDate:"",
            loading: "Загрузка",
            months: [ "Январь" , "Февраль" , "Март" , "Апрель" , "Май" , "Июнь" , "Июль" , "Август" , "Сетябрь" , "Октябрь" , "Ноябрь" , "Декабрь"],
            noData: "Нет данных для отображения",
            numericSymbolMagnitude: 1000,
            numericSymbols: [ "k" , "M" , "G" , "T" , "P" , "E"],
            printChart: "Печать диаграммы",
            resetZoom: "Сбросить увеличение",
            resetZoomTitle: "Сбросить увеличение1:1",
            shortMonths: [ "Янв" , "Фев" , "Мрт" , "Апр" , "Май " , "Июн " , "Июл " , "Авг" , "Сен" , "Окт" , "Нбр" , "Дек"],
            shortWeekdays: undefined,
            thousandsSep: " ",
            weekdays: ["Воскресенье", "Понедельник", "Вторник", "Среда", "Чеверг", "Пятница", "Суббота"]
        }}
    );
    var url = Routing.generate('cabinet');
        $.post(url, function(data) {
            var measuring = data.measuring.morning;
            var measuring2 = data.measuring.evening;
            console.log(measuring);
            console.log(measuring2);
            Highcharts.stockChart('container', {

                chart: {
                    height: 650,
                    type: 'line'
                },

                rangeSelector: {
                    selected: 1,
                    inputEnabled: true,
                    buttonTheme: {
                        visibility: 'hidden'
                    },
                    labelStyle: {
                        visibility: 'hidden'
                    }
                },

                /*subtitle: {
                    text: 'Кликните и выделите область диаграммы, чтобы увеличить маштаб'
                },*/

                xAxis: {
                    type: 'datetime',
                    title: {
                        text: 'Дата'
                    }
                },

                yAxis: {
                    title: {
                        text: 'Значение'
                    }
                },

                legend: {
                    /*layout: 'vertical',
                     align: 'right',
                     verticalAlign: 'middle',*/
                    enabled: true
                },

                /*title: {
                    text: 'Вес'
                },*/

                navigator: {
                    enabled: false
                },

                scrollbar: {
                  enabled: false
                },

                credits: {
                    enabled: false
                },

                series: [{
                    name: 'Динамика значений веса утром',
                    showInNavigator: false,
                    data: measuring,
                    tooltip: {
                        valueDecimals: 2
                        }
                    },{
                    name: 'Динамика значений веса вечером',
                    showInNavigator: false,
                    data: measuring2,
                    tooltip: {
                        valueDecimals: 2
                    }
                }]


            }, function (chart) {
                // apply the date pickers
                setTimeout(function () {
                    $('input.highcharts-range-selector', $(chart.container).parent())
                        .datepicker();
                }, 0);
            });
        });
    });

    /*$.datepicker.setDefaults({
        dateFormat: 'mm/dd/yy',
        onSelect: function () {
            this.onchange();
            this.onblur();
        }
    });*/

    $('.datepicker').pickadate({
        labelMonthNext: 'Следующий месяц',
        labelMonthPrev: 'Последний месяц',
        labelMonthSelect: 'Выберите месяц',
        labelYearSelect: 'Выберите год',
        monthsFull: [ 'Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь' ],
        monthsShort: [ 'Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек' ],
        weekdaysFull: [ 'Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота' ],
        weekdaysShort: [ 'ВС', 'ПН', 'ВТ', 'СР', 'ЧТ', 'ПТ', 'СБ' ],
        weekdaysLetter: [ 'Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб' ],
        selectMonths: true,
        selectYears: 5,
        today: 'Сегодня',
        clear: 'Очистить',
        close: 'Выбрать',
        closeOnSelect: false
    });


    //$('form #form1name_date, form #form2name_date').addClass("datepicker");

    /*$.datetimepicker.setLocale('ru');
    $('form #form1name_date, form #form2name_date').datetimepicker(
        {
            formatDate:'d.m.Y',
            format:'d.m.Y H:i',
            lang:'ru',
        }
    );*/


    </script>

{% endblock %}