{% extends "FOSUserBundle::layout.html.twig" %}
            {% block menu %}
                {{ include('AppBundle::menu.html.twig') }}
            {% endblock %}

{% block body %}
<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#chart">График</a></li>
        <li class="tab col s3"><a class="active" href="#mtable">Таблица</a></li>
      </ul>
    </div>
    <div id="chart" class="col s12">
		<div id="container" class="container well" data-highcharts-chart="0"></div>
        {#<div id="container" style="height: 400px; min-width: 600px"></div>#}
	</div>
    <div id="mtable" class="col s12">
		<table class="bordered striped">
			<thead>
			<tr>
				<th>Дата</th>
				<th>Утро</th>
                <th>Вечер</th>
                <th>Стабильность ряда</th>
			</tr>
			</thead>
			<tbody>
			{% for meas in measuring %}
				<tr>
					<td>{{ meas.measure_date|date("d.m.Y H:i") }}</td>
					<td>{{ meas.morning_value }}</td>
                    <td>{{ meas.evening_value }}</td>
                    <td>{{ meas.stability_value }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
  </div>
{% endblock %}

{% block javascripts  %}
    {{ parent() }}
    {#<script src="https://code.highcharts.com/highcharts.js"></script>#}
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script>
    $(document).ready(function() {

    $("a[data-id]").on("click", function(){
        $('#stability_range_modal').modal();
        var id = $(this).data('id');
        $.post(Routing.generate('get_stability_range'),{data: id}, function(data) {
            console.log(data);
            $('#stability_range').text(data.stabilityRange.stability_range);
        });
    });

    function getStabilityRange(id) {

    }


    Highcharts.setOptions(
        {lang: {
            rangeSelectorZoom: "Просмотр",
            rangeSelectorFrom: "с",
            rangeSelectorTo: "по",
            contextButtonTitle: "Меню",
            decimalPoint: ".",
            downloadJPEG: "Сохранить как JPEG",
            downloadPDF: "Сохранить как PDF",
            downloadPNG: "Сохранить как PNG",
            downloadSVG: "Сохранить как  SVG",
            drillUpText: "Назад к {series.name}",
            invalidDate:"",
            loading: "Загрузка",
            months: [ "Январь" , "Февраль" , "Март" , "Апрель" , "Май" , "Июнь" , "Июль" , "Август" , "Сетябрь" , "Октябрь" , "Ноябрь" , "Декабрь"],
            noData: "Нет данных для отображения",
            numericSymbolMagnitude: 1000,
            numericSymbols: [ "k" , "M" , "G" , "T" , "P" , "E"],
            printChart: "Печать диаграммы",
            resetZoom: "Сбросить увеличение",
            resetZoomTitle: "Сбросить увеличение1:1",
            shortMonths: [ "Янв" , "Фев" , "Мрт" , "Апр" , "Май " , "Июн " , "Июл " , "Авг" , "Сен" , "Окт" , "Нбр" , "Дек"],
            shortWeekdays: undefined,
            thousandsSep: " ",
            weekdays: ["Воскресенье", "Понедельник", "Вторник", "Среда", "Чеверг", "Пятница", "Суббота"]
        }}
    );
    var url = Routing.generate('cabinet');
        $.post(url, function(data) {
            var measuring = data.measuring.morning;
            var measuring2 = data.measuring.evening;
            console.log(measuring);
            console.log(measuring2);
            Highcharts.stockChart('container', {

                rangeSelector: {
                    selected: 1,
                    inputEnabled: true,
                    buttonTheme: {
                        visibility: 'hidden'
                    },
                    labelStyle: {
                        visibility: 'hidden'
                    }
                },

                subtitle: {
                    text: 'Кликните и выделите область диаграммы, чтобы увеличить маштаб'
                },

                xAxis: {
                    type: 'datetime',
                    title: {
                        text: 'Значение'
                    }
                },

                yAxis: {
                    title: {
                        text: 'Дата'
                    }
                },

                legend: {
                    /*layout: 'vertical',
                     align: 'right',
                     verticalAlign: 'middle',*/
                    enabled: true
                },

                title: {
                    text: 'Вес'
                },

                navigator: {
                    enabled: false
                },

                series: [{
                    name: 'Динамика значений веса утром',
                    showInNavigator: false,
                    data: measuring,
                    tooltip: {
                        valueDecimals: 2
                        }
                    },{
                    name: 'Динамика значений веса вечером',
                    showInNavigator: false,
                    data: measuring2,
                    tooltip: {
                        valueDecimals: 2
                    }
                }]


            }, function (chart) {
                // apply the date pickers
                setTimeout(function () {
                    $('input.highcharts-range-selector', $(chart.container).parent())
                        .datepicker();
                }, 0);
            });
        });
    });

    // Set the datepicker's date format
    $.datepicker.setDefaults({
        dateFormat: 'mm/dd/yy',
        onSelect: function () {
            this.onchange();
            this.onblur();
        }
    });
</script>

{% endblock %}