{% extends "FOSUserBundle::layout.html.twig" %}
{% block menu %}
    {{ include('AppBundle::menu.html.twig') }}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <p class="flow-text">
                <i class="large material-icons">question_answer</i>
                <span>{{ thread.subject }}</span>
            </p>
            <blockquote>
                <span>от: </span> {{ createdBy.lastName }} {{ createdBy.firstName }} {{ createdBy.secondName }}
            </blockquote>

            {% if thread is defined %}
                {% for message in thread.messages %}

                    <div style="padding: 10px;
                    {% if app.user.id == message.sender.id %}
                    margin-left: 25px; background-color: rgba(154,207,234,0.2);
                    {% else %}
                    background-color: rgba(141,234,147,0.15);

{% endif %}">
                    <small>
                    {% if app.user.id == message.sender.id %}
                        {% if is_granted('ROLE_PATIENT') %}
                            {{  app.user.patient.lastName }} {{ app.user.patient.firstName }} {{ app.user.patient.secondName }}
                        {% elseif  is_granted('ROLE_DOCTOR') %}
                            {{  app.user.doctor.lastName }} {{ app.user.doctor.firstName }} {{ app.user.doctor.secondName }}
                        {% endif %}
                    {% else %}

                        {% if message.sender.patient is  not empty %}
                            {{  message.sender.patient.lastName }} {{ message.sender.patient.firstName }} {{ message.sender.patient.secondName }}
                        {% elseif  message.sender.doctor is  not empty %}
                            {{  message.sender.doctor.lastName }} {{ message.sender.doctor.firstName }} {{ message.sender.doctor.secondName }}
                        {% endif %}

                    {% endif %}
                        {{ message.createdAt|date("d.m.Y H:i") }}
                    </small>
                    <p style="font-size: smaller; margin-left: 10px;">{{ message.body }}</p>

                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="col s12">
            <form class="col s12" method="post" action="{{ path('cabinet_message_reply', {'id': thread.id}) }}" id="send_message">
                <div class="row">
                    <div class="col s12">
                        <div class="input-field col s12">
                            <textarea id="textarea1" name="messages_body" class="materialize-textarea"></textarea>
                            <label for="textarea1">Ответ на сообщение</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button class="btn lighten-1 waves-effect waves-light" type="submit" form="send_message">Отправить
                            <i class="material-icons right">check</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts  %}
    {{ parent() }}


    <script>
        $(function(){


        });

    </script>

{% endblock %}