{% extends "FOSUserBundle::layout.html.twig" %}
{% block menu %}
    {{ include('AppBundle::menu.html.twig') }}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <p class="flow-text">
                <i class="large material-icons">question_answer</i>
                <span>{{ thread.subject }}</span>
            </p>
            <blockquote>
                <span>от: </span> {{ createdBy.lastName }} {{ createdBy.firstName }} {{ createdBy.secondName }}
            </blockquote>

            {% if thread is defined%}
                {% for message in thread.messages %}
                    <small>{{ message.createdAt|date("d.m.Y H:i") }}</small>
                    <p style="font-size: smaller">{{ message.body }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <div class="col s12">
            <form class="col s12" method="post" action="{{ path('cabinet_message_reply', {'id': thread.id}) }}" id="send_message">
                <div class="row">
                    <div class="col s12">
                        <div class="input-field col s12">
                            <textarea id="textarea1" name="messages_body" class="materialize-textarea"></textarea>
                            <label for="textarea1">Ответ на сообщение</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button class="btn lighten-1 waves-effect waves-light" type="submit" form="send_message">Отправить
                            <i class="material-icons right">check</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts  %}
    {{ parent() }}


    <script>
        $(function(){


        });

    </script>

{% endblock %}