<nav>
	<div class="nav-wrapper orange darken-2">
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			{% if  not app.user %}
			<li><a href="#intro">О Компании</a></li>
			<li><a href="#services">Услуги</a></li>
			<li><a href="#team">Наши специалисты</a></li>
			<li><a href="#pricing">Цены</a></li>
			<li><a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue">Войти</a></li>
			{#<li style="margin-left: 15px;"><a href="{{ path("fos_user_registration_register") }}" class="btn btn-blue">Регистрация</a></li>#}
			{% elseif is_granted('ROLE_PATIENT') %}
				<li><a href="{{ path("cabinet") }}">Кабинет</a></li>
				<li><a href="{{ path("cabinet_profile") }}">Профиль</a></li>
				{#<li><a href="{{ path("cabinet_add_measuring_value") }}">Ввод показаний</a></li>#}
				<li><a href="{{ path("cabinet_specialists") }}">Мои специалисты</a></li>
				<li><a href="{{ path("cabinet_messages") }}">Сообщения
						<span class="new badge blue" data-badge-caption="новых">{{ render(controller(
                            'AppBundle:Default:getUnreadMessages')) }}</span></a></li>
				<li><a href="{{ path("fos_user_security_logout") }}">Выход</a></li>
			{% elseif is_granted('ROLE_DOCTOR')  %}
			<li><a href="{{ path("cabinet") }}">Кабинет</a></li>
			<li><a href="{{ path("cabinet_profile") }}">Профиль</a></li>
			<li><a href="{{ path("cabinet_clients") }}">Мои пациенты</a></li>
				<li><a href="{{ path("cabinet_messages") }}">Сообщения
						<span class="new badge blue" data-badge-caption="новых">{{ render(controller(
                            'AppBundle:Default:getUnreadMessages')) }}</span></a></li>
			<li><a href="{{ path("fos_user_security_logout") }}">Выход</a></li>
			{% endif %}
		</ul>
		<ul class="side-nav" id="mobile-demo">
			{% if  not app.user %}
			<li><a href="#intro">О Компании</a></li>
			<li><a href="#services">Услуги</a></li>
			<li><a href="#team">Наши специалисты</a></li>
			<li><a href="#pricing">Цены</a></li>
			<li><a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue">Войти</a></li>
			{#<li style="margin-left: 15px;"><a href="{{ path("fos_user_registration_register") }}" class="btn btn-blue">Регистрация</a></li>#}
			{% elseif is_granted('ROLE_PATIENT') %}
				<li><a href="{{ path("cabinet") }}">Кабинет</a></li>
				<li><a href="{{ path("cabinet_profile") }}">Профиль</a></li>
				{#<li><a href="{{ path("cabinet_add_measuring_value") }}">Ввод показаний</a></li>#}
				<li><a href="{{ path("cabinet_specialists") }}">Мои специалисты</a></li>
				<li><a href="{{ path("cabinet_messages") }}">Сообщения
						<span class="new badge blue" data-badge-caption="новых">{{ render(controller(
                            'AppBundle:Default:getUnreadMessages')) }}</span></a></li>
				<li><a href="{{ path("fos_user_security_logout") }}">Выход</a></li>
			{% elseif is_granted('ROLE_DOCTOR')  %}
			<li><a href="{{ path("cabinet") }}">Кабинет</a></li>
			<li><a href="{{ path("cabinet_profile") }}">Профиль</a></li>
			<li><a href="{{ path("cabinet_clients") }}">Мои пациенты</a></li>
			<li><a href="{{ path("fos_user_security_logout") }}">Выход</a></li>
			{% endif %}
		</ul>
	</div>
</nav>