{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}



{#<div style="background-color: #1b6d85; text-align: center; margin-top: 200px;">
    <h3 class="white">Войти</h3>
    <form action="{{ path("fos_user_security_check") }}" method="post" class="popup-form">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />


        <input type="text" class="form-control form-white" id="username" placeholder="Логин" name="_username" value="{{ last_username }}" required="required">
        <input  class="form-control form-white" type="password" id="password" name="_password" required="required" placeholder="Пароль">

        <div class="checkbox-holder text-left">
            <div class="checkbox">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            </div>
        </div>
        <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    </form>
</div>#}


    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}

        <label for="username">{{ 'security.login.username'|trans }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

        <label for="password">{{ 'security.login.password'|trans }}</label>
        <input type="password" id="password" name="_password" required="required" />

        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    </form>




{% endblock fos_user_content %}